<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> développe et enseigne des ateliers sur compétences fondamentales en matière nécessaires pour mener des projets scientifiques. Son public cible est constitué de scientifiques qui ont peu ou pas d’expérience préalable en informatique, et ses leçons sont spécifiques au domaine. Elles s'appuient sur les connaissances existantes des apprenants pour leur permettre d'appliquer rapidement les compétences acquises à leur propre science.
  de données nécessaireresearch. Its target audience is researchers who have little to no prior computational experience, 
  and its lessons are domain specific, building on learners' existing knowledge to enable them to quickly 
  apply skills learned to their own research.
  Les participants seront encouragés à s'entraider et à mettre en pratique les nouvelles connaissances dans leur travail scientifique.
</p>
<p align="center">
  <em>
    Pour de plus amples informations sur ce que nous enseignons et pourquoi,
    veuillez consulter l’article
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
